@tailwind base;
@tailwind components;
@tailwind utilities;

.frame_86 {
  gap: 41px;
}

.frame_83 {
  gap: 23px;
}

.frame_84 {
  gap: 23px;
}

.frame_85 {
  gap: 23px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

